.a{
    margin:0 auto;
    overflow:hidden;
    width: 50%;
}
.p3{
    text-align: center;
    font-weight: bold;
}
h1{
    text-align: center;
}
.b{
    font-size: 20px;
    font-weight: bold;
}
img{
    margin:0 auto;
}
.p1{
    color: gray;
}
.c{
    font-size: 30px;
    font-weight: bold;
}