.a{
    margin:0 auto;
    overflow:hidden;
    width: 50%;
}
.p3{
    text-align: center;
}
h1{
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}
.p1{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.p2{
    font-size: 20px;
}